*{
    margin:0px;
    font-family:'Roboto', Arial;
}
.container1{
    display: flex;
    background-color:#1F2937;
    color:white;
    padding-left:250px;
    padding-right:250px;
    padding-top:50px;
    column-gap: 20px;
}
.headerLogo{
    flex:1;
    font-size:24px;
    color:#F9FAF8;
}
.push{
    margin-left:auto;
}
.headerLink{
    font-size: 18px;
    color:#e5e7eb;
}
.container2{
    background-color:#1F2937;
    color:white;
    padding-left:250px;
    padding-right:250px;
    padding-top:150px;
    padding-bottom:150px;
    display:flex;
}
.container2 div{
    flex:1;
}
.c2img{
    background-color:gray;
    display:flex-inline;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.c2p1{
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}
.c2p2{
    padding-right:10px;
    font-size: 18px;
    color:#e5e7eb;
    padding-top:5px;
    padding-bottom:5px;
}
button {
    display: inline-block;
    font-weight:bold;
    border-radius: 10px;
    background-color: #3882f6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 12px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width:150px;
}
.c3c1{
    font-size:32px;
    font-weight:bold;
    padding:80px;
    text-align:center;
}
.c3c2{
    padding-left:350px;
    padding-right:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.c3box{
    border-color: #3882f6;
    border-radius:14px;
    border-style:solid;
    border-width:5px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:200px;
    flex: auto;
}
.c3boxtext{
    color: #1f2937;
    margin:5px;
    width:200px;
    text-align:center;
}

.container4{
    height:450px;
    background-color: #e5e7eb;
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.c4quote{
    font-size:38px;
    padding-left:300px;
    padding-right:300px;
    font-style:italic;
}
.container4 .push{
    padding-right:350px;
    font-size: 24px;
    font-weight: bold;

}
.container5 {
    height:150px;
    display:flex;
    padding:100px;
    padding-left:200px;
    padding-right:200px;
    color:white;
}
.c5bluebox{
    background-color:#3882f6;
    flex:1;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.c5textbox{
    flex:3;
    padding-left:150px;
    padding-top:50px;
    padding-bottom:50px;
}
.c5buttonbox{
    flex:1;
}
.c5button{
    padding:10px;
    font-weight:bold;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 2px;
    margin: 5px;
    width:75px;
}
.c5text1{
    font-size:24px;
    font-weight:bolder;
}
.c5text2{
    font-size:18px;
}
.copyright{
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    background-color: #1f2937;
    color:white;
}